* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background-image: url(back-image.png);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
    /* background-color: rgb(142, 179, 212); */
}

nav {
    padding: 10px 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 400;
}

.login-btn {
    text-decoration: none;
    color: #333;
    margin-right: 15px;
    font-weight: 400;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg, #df4881, #c430d7);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contant {
    margin-top: 10%;
    max-width: 600px;
}

.contant h1 {
    font-size: 70px;
    color: #222;
}

.contant p {
    margin: 10px 0 30px;
    color: #333;
    animation-delay: 0.5s;
}

.contant.btn {
    padding: 15px 80px;
    font-size: 16px;
    animation-delay: 1s;
}

.btn.anim {
    animation-delay: 1s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn:hover {
    border-top-right-radius: 30px;
}

.girl-img {
    width: 520px;
    position: absolute;
    bottom: 0;
    right: 10%;
}

.girl-img.anim {
    animation-delay: 1.5s;
}

.anim {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.8s linear forwards;
}


/* .btn.anim:hover {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    transition: none;
} */

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
